<div class="container">
  <div class="heading" style="padding-top: 10px; margin-top: 15px; margin-bottom: 10px; background-color: rgb(65, 151, 231); height: 50px; border-radius: 6px; color: white;">
    <div style="width: 23%; float: left; padding-left: 10px;">NOTICES & EVENTS :</div>
    <div style="width: 75%; float: left;">
      <marquee behavior="" direction="left">NOTICES & EVENTS:
        Qatar Travel Policy
        Deported Foreigners from KSA
        KSA Housemaid
        Registration of Bangladeshi Investor at KSA BAIRA has been working for its members with the following objectives:</marquee>
    </div>
  </div>
  <h2>Aims and Objective of BAIRA</h2>

  <h3>BAIRA has been working for its members with the following objectives:</h3>

  <p>1. To promote and protect the rights and interests of the members of the association in particular and the trade,
    commerce and industries of Bangladesh in general;</p>

  <p>2. To promote, advise and assist in the business activities of the members of the association, to make all out
    efforts for providing Bangladeshis with job abroad;</p>

  <p>3. To co-ordinate the activities of the licensed recruiting agents approved by the Government of the People's
    Republic of Bangladesh for arranging employment's of Bangladesh abroad and to create unity amongst the licensed
    recruiting agents;
  </p>
  <p>4. To develop an understanding and awareness of Government notification, rules and regulations regarding the
    overseas employment of manpower amongst the member recruiting agents;
  </p>
  <p>5. To advise Government to amend, alter or modify orders in this regard from time to time keeping the interest of
    the country;</p>

  <p>6. To take all steps by lawful means that may be necessary for promoting, supporting or opposing legislation or any
    other action effecting the general interests of member recruiting agents;
  </p>
  <p>7. To establish close and intimate liaison with foreign missions in Bangladesh with a view to provide employment of
    Bangladeshi citizens in their respective countries;
  </p>
  <p>8. To keep in touch with Bangladesh Embassies or other reliable agencies for creating job opportunities for
    Bangladeshi citizens in different countries;
  </p>
  <p>9. To invite delegations from countries having potential for employment of skilled and un-skilled Bangladeshi
    workers with a view to acquainting them with the vast hard working manpower available in Bangladesh, after getting
    prior permission form the Government;
  </p>
  <p>10. To assist Government and non-Government delegations coming to Bangladesh to select appropriate manpower by
    cultivating close liaison with them;
  </p>
  <p>11. To send delegation from the association abroad for creating proper awareness amongst the intending employers
    about skilled and un-skilled workers of Bangladesh;
  </p>
  <p>12. To print brochures, booklets and leaflets of skilled workers of Bangladesh and circulate these abroad with the
    help of Government;
  </p>
  <p>13. To make efforts to ensure distribution of all privileges and facilities to all member recruiting agents fairly
    and equitably;
  </p>
  <p>14. To distribute all offers received by the association for employment in the private and the public sectors
    equitably amongst the member-recruiting agents;
  </p>
  <p>15. To create association's own Trade Institute in order to assist each and every member-recruiting agent
    appropriate and capable manpower;
  </p>
  <p>16. To establish association's own training center to assist and offer training to all candidates selected for
    employment abroad on manners, customs and foreign languages etc;
  </p>
  17. To assist all member-recruiting agents about rules, regulations, procedures, visa entry permits by procuring them
  from different countries and making them available to the members;

  18. To make all efforts and take all steps to remove difficulties and bottlenecks faced by the member-agents;

  19. To remove difficulties and inconveniences of the workers sent abroad by the member-recruiting agents ;

  20. To make efforts to remove complaints and misunderstanding amongst the foreign employers about manpower sent by
  member-recruiting agents;

  21. To maintain regular liaison by visits of responsible executives to overseas employers and their Bangladeshi
  employees;

  22. To organize welfare measures for the Bangladeshi workers abroad and their beneficiaries at home;

  23. To encourage the Bangladeshi workers working abroad for remit maximum of their foreign exchange earning to the
  country through regular official channels;

  24. To encourage and advise the Bangladeshi migrants abroad and their beneficiaries at home for investments of
  investments of their foreign exchanges in the productive pursuits in the country;

  25. To undertake initiatives for repatriation and payment of compensation to the persons wrongly selected and sent
  abroad;

  26. To provide assistance for bringing the dead body of Bangladesh workers to the country or for its proper disposal,
  as the case may be, in co-operation with foreign employers;

  27. To obtain labor laws of the labor importing countries and to disseminate the information of those laws among the
  Bangladeshi migrant workers;

  28. To fix annual target of business for each member agency and to help them to achieve the same;

  29. To monitor the monthly activities for the member agencies to the Ministry of Labor and Manpower, Bureau of
  Manpower, Employment and Training and Bangladesh Manpower Planning Center through a proforma to be prepared by
  Bangladesh Manpower Planning Center;

  30. To submit annual report to the Ministry of Labor and Employment by each member agency dealing with their total
  activities during every calendar year.

  31. To report to Ministry, Bureau of Manpower, Employment and Training and Bangladesh Manpower Planning Center the
  amount of fees actually charged from job seekers of various categories;

  32. To explore job market in different parts of the world in addition to the countries in the Middle East;

  33. To explore job opportunities for skilled and professional personnel as well;

  34. To set-up branch offices as an when required in different parts of the country & the globe with a view to
  fulfilling the aims and objects of the association;

  35. To do all such other things as are incidental or conducive to the attainment of the above objects.

</div>