
<div>
  <img src="../assets/homeimg.jpg" class="d-block w-100" alt="image not found">
</div>
<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
   

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="home" routerLinkActive="active">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="adduser" routerLinkActive="active">Adduser</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="employee-dashboard" routerLinkActive="active">Employee List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="about" routerLinkActive="active">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

