<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/projectpic1.jpg" width="1000px" height="600px" class="d-block w-100" alt="image not found">
    </div>
    <div class="carousel-item">
      <img src="../assets/projectpic2.jpg" width="1000px" height="600px" class="d-block w-100" alt="image not found">
    </div>
    <div class="carousel-item">
      <img src="../assets/projectpic3.jpg" width="1000px" height="600px" class="d-block w-100" alt="image not found">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div
    style="background-color:yellowgreen; height:280px; color: rgb(31, 29, 29); padding: 6px; margin-top: 2px;">
    <div style="height:245px; width: 32%; float: left;">
      <h3 class="foterTitle">Quick Link</h3>
      <ul>
        <li><a href="https://www.ifac.org/" target="_blank">IFAC</a></li>
        <li><a href="http://www.pwc.com/us/en/cfodirect/standard-setters/iasb.html" target="_blank">IASB</a></li>
        <li><a href="http://www.capa.com.my/" target="_blank">CAPA</a></li>
        <li><a href="http://www.esafa.org/" target="_blank">SAFA</a></li>
        <li><a href="http://www.icaew.com/" target="_blank">ICAEW</a></li>
        <li><a href="http://www.charteredaccountants.com.au/">CPA Australia</a></li>
        <li><a href="http://www.cpaireland.ie/" target="_blank">CPA Ireland</a></li>
      </ul>
    </div>

    <div style="height: 245px; width: 32%; float: left;">
      <h3 class="foterTitle">Resource </h3>
      <ul>
        <li><a href="http://www.icab.org.bd/icabweb/webGeneralContent/view/485027">Online Payment</a></li>
        <li><a
            href="/webFileUpload/showDoc?fileWithPath=/app/share_Storage/Attachments/icabwebcommonupload/images/upload/webupload/general_file/general_file/class-enrolment-application-form.pdf">Class
            Enrolment Application Form</a></li>
        <li><a href="/icabweb/webGeneralContent/view/285012">Monthly News Bulletin</a></li>
        <li><a href="/icabweb/webGeneralContent/view/286043">The Accountants</a></li>
        <li><a href="/icabweb/webNewsEventNoticeCir/view/121028">BPA Awards Criteria</a></li>
        <li><a href="http://202.84.32.85:8000/icabweb/webMenu/edit/5876">Standards</a></li>
        <li><a href="#">Quality Assurance</a></li>
        <li><a href="/icabweb/webGeneralContent/view/131761">Guidance for Members in Practice</a></li>
      </ul>
    </div><!-- /.col-sm-4 -->
    <div style="height: 245px; width: 32%; float: left;">
      <h3 class="foterTitle">Contact</h3>
      <table style="color: rgb(66, 93, 216);">
        <tbody>
          <tr>
            <td>100 Kazi Nazrul Islam Avenue Dhaka-1215, Bangladesh</td>
          </tr>
          <tr>
            <td>Tel: +88 09612612100, +88-02-9115340, 9117521<br />
              Fax: +880-2-9125266</td>
          </tr>
          <tr>
            <td>
              <p>E-mail: president@icab.org.bd</p>
              <p> secretary@icab.org.bd</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.col-sm-4 -->
    <footer style="text-align: center;">
      <table class="table table strieped">
        <tr>
          <td style="color: rgb(156, 53, 187);">Copyright &copy; 2021 all rights reserved. employee agency of Bangladesh
          </td>
        </tr>
      </table>
    </footer>
  </div>

IFAC
ifac.org
